Repository klemiwary/Riakuto-StartingReact-ja4.1: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, 08_lint, 08_format

lefthook.yaml:

pre-commit:
  # parallel: true
  commands:
    eslint:
      glob: '*.{ts,tsx,mts,cts,js,jsx,mjs,cjs}'
      exclude: '^(01|02|03|04|05|06|07|08)-.+/.*'
      run: pnpm exec eslint {staged_files} --fix --quiet --max-warnings=0 --no-warn-ignored
      stage_fixed: true
    stylelint:
      glob: 'src/**/*.{css,scss,sass,less}'
      exclude: '^(01|02|03|04|05|06|07|08)-.+/.*'
      run: pnpm exec stylelint {staged_files} --fix --quiet --max-warnings=0
      stage_fixed: true
    prettier:
      glob: '**/!(*.min|*-lock).{js,mjs,cjs,jsx,ts,tsx,html,css,scss,sass,less,json,jsonc,yaml,yml,graphql,gql}'
      exclude: '^(01|02|03|04|05|06|07|08)-.+/.*'
      run: pnpm exec prettier {staged_files} --write --log-level=error
      stage_fixed: true
    08_lint:
      root: 08-lint-format/04-githooks/
      glob: '*.{ts,tsx,mts,cts,js,jsx,mjs,cjs,css,scss,sass,less}'
      run: pnpm run lint:fix
      stage_fixed: true
    08_format:
      root: 08-lint-format/04-githooks/
      glob: '**/!(*.min|*-lock).{js,mjs,cjs,jsx,ts,tsx,html,css,scss,sass,less,json,jsonc,yaml,yml,graphql,gql}'
      run: pnpm run format
      stage_fixed: true

add 9. toolchain
  08-lint-format/01-linter/04-custom/vite.config.ts
  08-lint-format/01-linter/05-inspector/vite.config.ts
  08-lint-format/02-formatter/02-prettier/vite.config.ts
  08-lint-format/03-stylelint/vite.config.ts
  08-lint-format/04-githooks/lefthook.yaml
  08-lint-format/04-githooks/stylelint.config.js
  08-lint-format/04-githooks/vite.config.ts
  09-toolchain/03-vite/vite-app/.eslintrc.cjs
  09-toolchain/03-vite/vite-app/.prettierrc.json
  09-toolchain/03-vite/vite-app/.vscode/extensions.json
  09-toolchain/03-vite/vite-app/eslint.config.js
  09-toolchain/03-vite/vite-app/package.json
  09-toolchain/03-vite/vite-app/pnpm-lock.yaml
  09-toolchain/03-vite/vite-app/prettier.config.js
  09-toolchain/03-vite/vite-app/src/App.css
  09-toolchain/03-vite/vite-app/src/App.tsx
  09-toolchain/03-vite/vite-app/src/index.css
  09-toolchain/03-vite/vite-app/src/main.tsx
  09-toolchain/03-vite/vite-app/stylelint.config.js
  09-toolchain/03-vite/vite-app/tsconfig.json
  09-toolchain/03-vite/vite-app/tsconfig.node.json
  09-toolchain/03-vite/vite-app/vite.config.ts
  lefthook.yaml
Due: eslint, 08_lint

add 10. fw history pt2
  10-history/01-gen3/preact-compat-app/.eslintrc.cjs
  10-history/01-gen3/preact-compat-app/.gitignore
  10-history/01-gen3/preact-compat-app/README.md
  10-history/01-gen3/preact-compat-app/index.html
  10-history/01-gen3/preact-compat-app/package.json
  10-history/01-gen3/preact-compat-app/pnpm-lock.yaml
  10-history/01-gen3/preact-compat-app/public/vite.svg
  10-history/01-gen3/preact-compat-app/src/App.css
  10-history/01-gen3/preact-compat-app/src/App.tsx
  10-history/01-gen3/preact-compat-app/src/assets/react.svg
  10-history/01-gen3/preact-compat-app/src/index.css
  10-history/01-gen3/preact-compat-app/src/main.tsx
  10-history/01-gen3/preact-compat-app/src/vite-env.d.ts
  10-history/01-gen3/preact-compat-app/tsconfig.app.json
  10-history/01-gen3/preact-compat-app/tsconfig.json
  10-history/01-gen3/preact-compat-app/tsconfig.node.json
  10-history/01-gen3/preact-compat-app/vite.config.ts
  10-history/01-gen3/svelte-sample/App.svelte
  10-history/04-gen3/preact-app/.prettierrc.json
  10-history/04-gen3/preact-app/package.json
  10-history/04-gen3/preact-app/pnpm-lock.yaml
  10-history/04-gen3/preact-app/src/Signal.tsx
  10-history/04-gen3/preact-app/src/main.tsx
Due: eslint

add extra docs from 4.0
  extra/build-win-env.md
  extra/open-remote.png
  extra/remote-wsl.png
  extra/wsl-connected.png
  extra/wsl-extensions.png
Due: none

update build-win-env doc
  extra/build-win-env.md
  extra/open-file.png
  extra/open-remote.png
  extra/remote-wsl.png
  extra/wsl-connected.png
  extra/wsl-extensions.png
Due: none

update errata
  errata.md
Due: none
